<nb-card>
  <nb-card-header>Risk Register</nb-card-header>
  <nb-card-body>
    <div class="form-group row">
      <div>
        Period :&nbsp;<strong>{{state.document.risk_period}}</strong>
      </div>
    </div>
    <div class="form-group row">
      <div>
        Register No.&nbsp;<strong>{{state.document.register_no}}</strong>
      </div>
    </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active panel1" id="division-tab" data-toggle="tab" href="#division" role="tab" aria-controls="division" aria-selected="true">Division/Department</a>
      </li>
      <li class="nav-item">
        <a class="nav-link panel2" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="false">Risk Description</a>
      </li>
      <li class="nav-item">
        <a class="nav-link panel3" id="inherent-tab" data-toggle="tab" href="#inherent" role="tab" aria-controls="inherent" aria-selected="false">Inherent Risk</a>
      </li>
      <li class="nav-item">
        <a class="nav-link panel4" id="current-tab" data-toggle="tab" href="#current" role="tab" aria-controls="current" aria-selected="false">Current Action/Controls</a>
      </li>
      <li class="nav-item">
        <a class="nav-link panel5" id="residual-tab" data-toggle="tab" href="#residual" role="tab" aria-controls="residual" aria-selected="false">Residual Risk</a>
      </li>
      <li class="nav-item">
        <a class="nav-link panel5" id="expected-tab" data-toggle="tab" href="#expected" role="tab" aria-controls="expected" aria-selected="false">Expected Risk</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="division" role="tabpanel" aria-labelledby="division-tab">
        <div class="panel1">
          <div class="form-group row">
            <label for="division" class="col-sm-2 col-form-label">Division</label>
            <div class="col-sm-5">
              <select class="form-control" name="division" [(ngModel)]="state.division.division" (change)="changeDivision()">
                <option ngValue="" disabled> -- Select Division -- </option>
                <option *ngFor="let division of selectors.divisions" [ngValue]="division.charId">{{division.description}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="division" class="col-sm-2 col-form-label">Department</label>
            <div class="col-sm-5">
             <select class="form-control" name="department" [(ngModel)]="state.division.department" (change)="changeDepartment()">
                <option ngValue="" disabled> -- Select Department -- </option>
                <option *ngFor="let department of selectors.department" [ngValue]="department.kodeDepartment">{{department.department}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="division" class="col-sm-2 col-form-label">Company KPI</label>
            <div class="col-sm-5">
              <select class="form-control select-multiple" name="company-kpi[]" multiple="multiple" [(ngModel)]="state.division.companyKpi" (change)="changeCompanyKpi()">
                <option ngValue="" disabled> -- Select Company KPI -- </option>
                <option *ngFor="let companyKpi of selectors.companyKpi" [ngValue]="companyKpi.charId">{{companyKpi.description}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="division" class="col-sm-2 col-form-label">Department Objective / KPI</label>
            <div class="col-sm-5">
             <textarea rows="4" class="form-control" placeholder="Enter Department Objective / KPI" [(ngModel)]="state.division.departmentObjectiveKpi"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label for="division" class="col-sm-2 col-form-label">Activity / Business Process</label>
            <div class="col-sm-5">
              <textarea rows="4" class="form-control" placeholder="Enter Activity / Business Process" [(ngModel)]="state.division.activityBusinessProcess"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="description" role="tabpanel" aria-labelledby="description-tab">
        <div class="panel2">
          <div class="form-group row">
            <label for="division" class="col-sm-2 col-form-label">Loss Event</label>
            <div class="col-sm-5">
              <textarea rows="4" class="form-control" placeholder="Enter Loss Event" [(ngModel)]="state.riskDescription.lossEvent"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label for="division" class="col-sm-2 col-form-label">Cause</label>
            <div class="col-sm-5">
             <textarea rows="4" class="form-control" placeholder="Enter Cause" [(ngModel)]="state.riskDescription.cause"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label for="division" class="col-sm-2 col-form-label">Risk Impact</label>
            <div class="col-sm-5">
              <select class="form-control select-multiple" name="company-kpi[]" multiple="multiple" [(ngModel)]="state.riskDescription.companyKpi" (change)="changeRiskImpact()">
                <option ngValue="" disabled> -- Select Risk Impack -- </option>
                <option *ngFor="let riskImpact of selectors.riskImpact" [ngValue]="riskImpact.indicatorId">{{riskImpact.description}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="division" class="col-sm-2 col-form-label">Risk Level</label>
            <div class="col-sm-5">
             <select class="form-control" name="division" [(ngModel)]="state.riskDescription.riskLevel" (change)="changeRiskLevel()">
                <option ngValue="" disabled> -- Select Risk Level -- </option>
                <option *ngFor="let riskLevel of selectors.riskLevel" [ngValue]="riskLevel.indicatorId">{{riskLevel.description}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="inherent" role="tabpanel" aria-labelledby="inherent-tab">
        <div class="panel3">
          <div class="form-group row">
            <label for="division" class="col-sm-2 col-form-label">Notes</label>
            <div class="col-sm-5">
              <textarea rows="4" class="form-control" placeholder="Enter Notes" [(ngModel)]="state.inherentRisk.notes"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label for="division" class="col-sm-2 col-form-label">Financial Catagory</label>
            <div class="col-sm-5">
             <select class="form-control" name="division" [(ngModel)]="state.inherentRisk.financialImpact" (change)="changeFinancialImpact()">
                <option ngValue="" disabled> -- Select Financial Category -- </option>
                <option *ngFor="let financialImpact of selectors.financialImpact" [ngValue]="financialImpact.charId">{{financialImpact.description}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="division" class="col-sm-2 col-form-label">Amount</label>
            <div class="col-sm-5">
              <input type="number" class="form-control" name="amount" [(ngModel)]="state.inherentRisk.amount" placeholder="Enter Amount"/>
            </div>
          </div>
          <div class="form-group row">
            <label for="division" class="col-sm-2 col-form-label">Operational Impact</label>
            <div class="col-sm-5">
             <input type="text" class="form-control" name="operationalImpact" [(ngModel)]="state.inherentRisk.operationalImpact" placeholder="Enter Operational Impact"/>
            </div>
          </div>
          <div class="form-group row">
            <label for="division" class="col-sm-2 col-form-label">Loss</label>
            <div class="col-sm-5">
               <input type="number" class="form-control" name="loss" [(ngModel)]="state.inherentRisk.loss" placeholder="Enter Loss"/>
            </div>
          </div>
          <div class="form-group row">
            <label for="division" class="col-sm-2 col-form-label">Qualitative Impact</label>
            <div class="col-sm-5">
              <select class="form-control" name="division" [(ngModel)]="state.inherentRisk.qualitativeImpact" (change)="changeQualitativeImpact()">
                <option ngValue="" disabled> -- Select Qualitative Impact -- </option>
                <option *ngFor="let qualitativeImpact of selectors.qualitativeImpact" [ngValue]="qualitativeImpact.charId">{{qualitativeImpact.description}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="division" class="col-sm-2 col-form-label">Impact</label>
            <div class="col-sm-5">
              <select class="form-control" name="division" [(ngModel)]="state.inherentRisk.qualitativeImpact" (change)="changeQualitativeImpact()">
                <option ngValue="" disabled> -- Select Impact -- </option>
                <option *ngFor="let qualitativeImpact of selectors.qualitativeImpact" [ngValue]="qualitativeImpact.charId">{{qualitativeImpact.description}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="division" class="col-sm-2 col-form-label">Likelyhood</label>
            <div class="col-sm-5">
              <select class="form-control" name="division" [(ngModel)]="state.inherentRisk.qualitativeImpact" (change)="changeQualitativeImpact()">
                <option ngValue="" disabled> -- Select Likelyhood -- </option>
                <option *ngFor="let qualitativeImpact of selectors.qualitativeImpact" [ngValue]="qualitativeImpact.charId">{{qualitativeImpact.description}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="division" class="col-sm-2 col-form-label">Overall Inherent Risk</label>
            <div class="col-sm-5">
              <select class="form-control" name="division" [(ngModel)]="state.inherentRisk.qualitativeImpact" (change)="changeQualitativeImpact()">
                <option ngValue="" disabled> -- Select Overall Inherent Risk -- </option>
                <option *ngFor="let qualitativeImpact of selectors.qualitativeImpact" [ngValue]="qualitativeImpact.charId">{{qualitativeImpact.description}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="current" role="tabpanel" aria-labelledby="current-tab">
        <div class="panel4">
          <div class="form-group row">
            <label for="division" class="col-sm-2 col-form-label">Current Action/Controls</label>
            <div class="col-sm-5">
              <textarea rows="4" class="form-control" placeholder="Enter Current Action/Controls" [(ngModel)]="state.currentAction.currentAction"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label for="division" class="col-sm-2 col-form-label">List Control</label>
            <div class="col-sm-5">
             <textarea rows="4" class="form-control" placeholder="Enter List Controls" [(ngModel)]="state.currentAction.listAction"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label for="division" class="col-sm-2 col-form-label">Operation</label>
            <div class="col-sm-5">
              <select class="form-control" name="operation" [(ngModel)]="state.currentAction.operation" (change)="changeOperation()">
                <option ngValue="" disabled> -- Select Operation -- </option>
                <option *ngFor="let operation of selectors.operation" [ngValue]="operation.indicatorId">{{operation.description}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="division" class="col-sm-2 col-form-label">Appropriateness</label>
            <div class="col-sm-5">
              <span>{{ state.currentAction.appropriate }}</span>
            </div>
          </div>
          <div class="form-group row">
            <label for="division" class="col-sm-2 col-form-label">Overall Control</label>
            <div class="col-sm-5">
              <span>{{ state.currentAction.overallControl }}</span>
            </div>
          </div>
          <div class="form-group row">
            <label for="division" class="col-sm-2 col-form-label">Preventive</label>
            <div class="col-sm-5">
              <textarea rows="4" class="form-control" placeholder="Enter Current Action/Controls" [(ngModel)]="state.currentAction.preventive"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label for="division" class="col-sm-2 col-form-label">Detective</label>
            <div class="col-sm-5">
              <textarea rows="4" class="form-control" placeholder="Enter Current Action/Controls" [(ngModel)]="state.currentAction.detective"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label for="division" class="col-sm-2 col-form-label">Corrective</label>
            <div class="col-sm-5">
              <textarea rows="4" class="form-control" placeholder="Enter Current Action/Controls" [(ngModel)]="state.currentAction.corective"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="residual" role="tabpanel" aria-labelledby="residual-tab">
        <div class="panel5">
          <div class="form-group row">
            <label for="division" class="col-sm-2 col-form-label">Financial Category</label>
            <div class="col-sm-5">
              <textarea rows="4" class="form-control" placeholder="Enter Current Action/Controls" [(ngModel)]="state.currentAction.currentAction"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label for="division" class="col-sm-2 col-form-label">Amount</label>
            <div class="col-sm-5">
             <textarea rows="4" class="form-control" placeholder="Enter Current Action/Controls" [(ngModel)]="state.currentAction.currentAction"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label for="division" class="col-sm-2 col-form-label">Operational Category</label>
            <div class="col-sm-10">
              <textarea rows="4" class="form-control" placeholder="Enter Current Action/Controls" [(ngModel)]="state.currentAction.currentAction"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label for="division" class="col-sm-2 col-form-label">Loss</label>
            <div class="col-sm-10">
             <textarea rows="4" class="form-control" placeholder="Enter Current Action/Controls" [(ngModel)]="state.currentAction.currentAction"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label for="division" class="col-sm-2 col-form-label">Qualitative Impact</label>
            <div class="col-sm-10">
              <textarea rows="4" class="form-control" placeholder="Enter Current Action/Controls" [(ngModel)]="state.currentAction.currentAction"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label for="division" class="col-sm-2 col-form-label">Overall Impact</label>
            <div class="col-sm-10">
              <textarea rows="4" class="form-control" placeholder="Enter Current Action/Controls" [(ngModel)]="state.currentAction.currentAction"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label for="division" class="col-sm-2 col-form-label">Likelihood</label>
            <div class="col-sm-10">
              <textarea rows="4" class="form-control" placeholder="Enter Current Action/Controls" [(ngModel)]="state.currentAction.currentAction"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label for="division" class="col-sm-2 col-form-label">Overall Residual Risk</label>
            <div class="col-sm-10">
              <textarea rows="4" class="form-control" placeholder="Enter Current Action/Controls" [(ngModel)]="state.currentAction.currentAction"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="expected" role="tabpanel" aria-labelledby="expected-tab">
        <div class="panel5">
          <div class="form-group row">
            <label for="division" class="col-sm-2 col-form-label">Treatment Plan</label>
            <div class="col-sm-5">
              <textarea rows="4" class="form-control" placeholder="Enter Current Action/Controls" [(ngModel)]="state.expectedRisk.treatmentPlan"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label for="division" class="col-sm-2 col-form-label">Impact</label>
            <div class="col-sm-5">
              <select class="form-control" name="division" [(ngModel)]="state.expectedRisk.impact" (change)="changeQualitativeImpact()">
                <option ngValue="" disabled> -- Select Impact -- </option>
                <option *ngFor="let qualitativeImpact of selectors.qualitativeImpact" [ngValue]="qualitativeImpact.charId">{{qualitativeImpact.description}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="division" class="col-sm-2 col-form-label">Likelyhood</label>
            <div class="col-sm-5">
              <select class="form-control" name="division" [(ngModel)]="state.expectedRisk.likelihood" (change)="changeQualitativeImpact()">
                <option ngValue="" disabled> -- Select Likelyhood -- </option>
                <option *ngFor="let qualitativeImpact of selectors.qualitativeImpact" [ngValue]="qualitativeImpact.charId">{{qualitativeImpact.description}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="division" class="col-sm-2 col-form-label">Overall Inherent Risk</label>
            <div class="col-sm-5">
              <span>{{ state.expectedRisk.overall }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </nb-card-body>
  <nb-card-footer>
    <button type="submit" class="btn btn-danger">Save to Draft</button>
  </nb-card-footer>
</nb-card>